body {
    width: 60em;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    /* display:grid;
    grid-template-columns: repeat(auto-fit,7,1fr);
    grid-template-rows: repeat(auto-fit,2,1fr);
    grid-template-areas: "yelloww redd greenn orangee orangee orangee bluee"
                          "yelloww redd greenn orangee orangee orangee bluee"; */


  }
  
  section {
    padding: 2em;
    margin: 1em;
    height:400px;

  }
  
  #green {
    background-color: #8ffda7;
    /* grid-area: greenn; */
    order: 3;
    flex-grow: 1;
  }
  
  #orange {
    background-color: #ffc788;
    /* grid-area:orangee; */
    order:4;
    flex: 1 0 20ch;
    flex-grow: 2;
  }
  
  #yellow {
    background-color: #ffff92;
    /* grid-area:yelloww; */
    order: 1;
    flex-grow: 1;
  }
  
  #red {
    background-color: #ff919c;
    /* grid-area: redd; */
    order:2;
    flex-grow: 1;
  }
  
  #blue {
    background-color: #98d2ff;
    /* grid-area: bluee; */
    order:5;
    flex-grow: 1;
  }
  
  ul {
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
  }
  