
#header , .item , footer {
    border:1px solid grey;

}

article{
    width:260px;
}

#imageDiv {
    height:200px;
    background-color: grey;
    position:relative;
}


.item , #scriptDiv, footer{
    padding-left:10px;
}

.item {
    padding-top: 1px;
    padding-bottom: 1px ;
}

footer {
    padding-top:25px;
    padding-bottom:25px;
}

a {
    color:blue;
}

figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(230, 230, 230)
}

figure{
    margin:0;
}