body {
    width: 60em;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,3,1fr);
    grid-template-rows: repeat(auto-fit,4,1fr);
    grid-template-areas: "greenn greenn greenn"
                          "yelloww redd bluee"
                          "yelloww redd bluee"
                          "orangee orangee bluee";
  }
  


  section {
    padding: 2em;
    margin: 1em;
  }
  
  #green {
    background-color: #8ffda7;
    grid-area: greenn;
  }
  
  #orange {
    background-color: #ffc788;
    grid-area:orangee;
  }
  
  #yellow {
    background-color: #ffff92;
    grid-area:yelloww
  }
  
  #red {
    background-color: #ff919c;
    grid-area: redd;
  }
  
  #blue {
    background-color: #98d2ff;
    grid-area: bluee;
  }
  
  ul {
    padding: 0;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  
  li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
  }
  